<header style="z-index: 1000">
  <div id="logo">
    <!-- <a href="/index.html"><img src="images/logo.gif"></a> -->
  </div>
  <div class="anna-istomina">anna istomina</div>
  <div id="links">
    <a href="/index.html">portfolio</a>
    <a href="#" onclick="scrollToContact()">about</a>
    <a href="#" onclick="scrollToContact()">contact</a>
  </div>
</header>

<div class="scroll-hint">
  <svg style="height: 30px" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 377.93 139.88">
    <polyline points="20.1 20.1 188.97 119.78 357.84 20.1"
              style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:40.1940629552435px"
    />
  </svg>
</div>
