<footer class="home">
  <div class="hi-text">
    <h1>Hi, I'm Anna</h1>

    <p>
      I am a Web and New Media Design student at the Academy of Art University in San Francisco, and a part-time freelance designer.
    </p>
    <p>
      UX design is my passion, and I made it my area of focus.
    </p>
    <p>
      Things I like: nature, yoga, space and sci-fi.
    </p>

    <h2>Contact</h2>

    <p>
      istomina.anna@gmail.com
    </p>
  </div>

  <div id="footer-logo">
    <img src="images/footer-logo.png">
  </div>
</footer>
