html {
    
}
body {
    font-family: Verdana, sans-serif;
    background-image: url("img/mochagrunge.png");
    /*texture credits subtlepatterns.com*/
}
a {
    text-decoration: none;
    color: #f1f1f2;
}
a:hover {
    color:#bbbdc0;
}

.page-home {
    width: 1024px;
    
    margin: 0 auto;
    /*background-color: #f0e9d9;*/
}
.page-site {
    width: 1024px;
    
    margin: 0 auto;
    background-image: url("img/dark_brick_wall.png");
    /*texture credits subtlepatterns.com*/
    padding-bottom: 100px;
}

.page-top {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    background-image: url("img/dark_effect.jpg");
    background-repeat: no-repeat;
    position: relative;
}
.page-bottom {
    width: 1024px;
    
    margin: 0 auto;
    background-image: url("img/dark_brick_wall.png");
    /*texture credits subtlepatterns.com*/
    padding-bottom: 50px;
}
.logotype{
    float: left;
    padding: 15px 25px;
}
.logo {
    background-color: rgba(132, 64, 44, 1);
    color: #edf7f1;
    padding: 15px 25px;
    height: 167px;
    position: relative;
}

.logo > a {
    position: absolute;
    left: 35px;
}

.nav-menu {
    position: absolute;
    top: 65px;
    right: 35px;
    list-style: none;
    margin-top: 0;
    padding-right: 30px;
}
.nav-menu > li, .nav-menu > li > a {
    display: inline-block;
    width: 110px;
    text-align: center;
}
.nav-menu > li > a {
    color: #f8f5ec;
    text-decoration: none;
    padding: 10px 0;
}
.nav-menu > li > a:hover {
    color: #000;
    background-color: #e6e7e8;
}
.main {
    width: 720px;
    float: left;
    
    padding: 20px 0 0 0;
    margin-right: -20px;
}
.sidebar {
    width: 324px;
    display: inline-block;
    
    padding: 20px 0 0 0;
}
.panel {
    margin: 0 20px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    width: 400px;
}

.panel-content-home {
    padding: 20px 20px 20px 20px;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    line-height: 1.5em;
    width: 615px;
    margin: 0 200px;
    color: #f1f1f2;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

img{
    border-radius: 5px 5px 5px 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.featured {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #f1f1f2;
    text-transform: uppercase;
    padding: 30px 0 20px 0;

}
figure {
    display: inline-block;
    margin: 20px 18px;
}
figure > a > img {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    transition: all 0.1s linear;
}
figure:hover > a > img {
    opacity: 0.85;
    box-shadow: 10px 7px 5px rgba(0,0,0,0.2);
    transition: all 0.15s linear;
    transform: rotate(1deg) scale(1.02, 1.02);
    -webkit-transform: rotate(1deg) scale(1.02, 1.02);
}
.first {
    float: left;
    margin: 20px 20px 10px 85px;


}

figcaption {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #f1f1f2;
    font-size: 18px;
    padding-top: 5px;
}
.view-all {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #231f20;
    padding: 10px 0 10px 0;
    font-weight: 700;
    font-size: 18px;
}
.page-header {
    font-family: 'Lato', sans-serif;
    color: #f1f1f2;
    padding: 30px 0 20px 40px;
    font-size: 30px;
}
.page-header-item {
    font-family: 'Lato', sans-serif;
    color: #f1f1f2;
    padding: 30px 0 20px 0;
    font-size: 30px;
    text-align: center;
}
.left-panel {
    padding-left: 40px;
    display: inline-block;

}
.left-panel > img {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.text-block {
   float: right;
    line-height: 1.5em;
    color: #f1f1f2;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 400px;
    margin: 0 120px 0 50px;
    height: 475px;

}
.text-block-item {
    text-align: center;
    line-height: 1.5em;
    color: #f1f1f2;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 500px;
    margin: 0 auto;
}


.centered {
    display: block;
    margin: 35px auto 35px auto;
}

.footer {
    width: 418px;
    margin: 0px auto;
}
.footer-background {
    background-color: #e6e7e8;
    margin: 0 auto;
    width: 1024px;
    height: 60px;
    padding-top: 35px;

}
.footer > li, .footer > li > a {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #84402c;
}
form {
    background-color: transparent;
    width: 300px;
    height: 400px;
    margin: 0 auto;
}
label {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #f1f1f2;
    display: block;
    float: right;
    clear: both;
    width : 300px;
    text-align: center;
    margin: 0 10px;
    line-height: 30px;
}

textarea {
    float: right;
    clear: both;
    display: block;
    height: 100px;
    margin: 10px;
    width : 280px;
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
#submit {
    display: block;
    float: right;
    clear: both;
    width: 140px;
    height: 40px;
    text-align: center;
    margin: 20px;
    background-color: rgba(132, 64, 44, 1);
    color:white;
    transition: all 0.15s linear;
}
#submit:hover {
    transition: all 0.1s linear;
    opacity: 0.8;
    box-shadow: 8px 8px 5px rgba(0,0,0,0.2);
}

input {
    float: right;
    clear: both;
    width : 290px;
    margin: 10px;
    height: 40px;
    padding-left: 10px;
    border: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
input:focus,textarea:focus {
    outline: 3px solid rgba(132, 64, 44, 1);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}
.titletag {
    position: absolute;
    top: 300px;
    right: 230px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #f1f1f2;
    font-size: 35px;
}
.form-container {
    display: inline-block;
    width: 510px;
    margin-left: 115px;
}
.text-block-contact {
    float: left;
    line-height: 1.5em;
    color: #f1f1f2;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 300px;
    margin-left: 40px;

}
.carousel {
    position: relative;
}
.left_arrow {
    position: absolute;
    top: 0;
    left: 0;
    width: 105px;
    height: 622px;
}
.item_middle {
    width: 800px;
    margin: 0 auto;
}
.right_arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 105px;
    height: 622px;
}

.left_arrow > a > img,.right_arrow > a > img {
    position: absolute;
    top: 250px;
}
.left_arrow > a > img:hover,.right_arrow > a > img:hover {
    opacity: 0.7;
}
.left_arrow > a > img {
    right: 30px;
}
.right_arrow > a > img {
    left: 30px;
}
